<h1>Список сотрудников</h1>

<ol class="breadcrumb" *ngIf="departmentId">
    <li><a [routerLink]="['/']">Департаменты</a></li>
    <li class="active">{{departmentId | departmentName | async}}</li>
</ol>

<table class="table table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Департамент</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees | async">
            <td>{{employee.id}}</td>
            <td>{{employee.department | departmentName | async}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.phone}}</td>
            <td class="buttons">
                <a
                    [routerLink]="['/employees/'+employee.id]"
                    class="btn btn-primary"
                    role="button"
                >Просмотр сотрудника</a>
            </td>
        </tr>
        <tr>
            <td colspan="5">Всего: <span>{{(employees | async)?.length}}</span> сотрудников</td>
        </tr>
    </tbody>
</table>