Employees list

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Департамент</th>
            <th>ФИО</th>
            <th>Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees | async">
            <td>{{employee.id}}</td>
            <td>{{employee.department}}</td>
            <td>{{employee.name}}</td>
            <td>{{employee.phone}}</td>
            <td>
                <a
                    [routerLink]="['/employees/'+employee.id]"
                    class="btn btn-primary"
                    role="button"
                >Просмотр сотрудника</a>
            </td>
        </tr>
    </tbody>
</table>