<h1>Карточка сотрудника</h1>

<ol class="breadcrumb" *ngIf="(employee | async)?.department">
    <li><a [routerLink]="['/']">Департаменты</a></li>
    <li><a [routerLink]="['/departments/'+(employee | async)?.department+'/employees']">{{(employee | async)?.department | departmentName | async}}</a></li>
    <li class="active">{{(employee | async)?.name}}</li>
</ol>

<div class="card-container">
    <div class="image">
        <img *ngIf="employee | async" [src]="(employee | async)?.photoData" />
    </div>
    <div class="data">
        <table class="table">
            <tr>
                <td>ФИО</td>
                <td>{{(employee | async)?.name}}</td>
            </tr>
            <tr>
                <td>Номертелефона</td>
                <td>{{(employee | async)?.phone}}</td>
            </tr>
        </table>
    </div>
</div>